.camper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    position: relative;
}

.camper-content {
    width: 75%;
    height: calc(75vw / 16 * 7);
    background: linear-gradient(to top, #00000088, #00000000, #00000000, #00000088), url('/img_index/Camper-banner-01-bg.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.camper-group1{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.camper-group1 h2{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 5px;
}

.camper-group1 h3{
    font-size: 20px;
    font-weight: 300;
    padding: 4px 0;
    margin: 0 10px;
    border-bottom: #ffffff00 solid 2px;
    cursor: pointer;
}
.camper-group2{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    margin: 0 0 3%;
}
.camper-group2 h2{
    font-size: 35px;
    font-weight: 500;
}

.camper-bt {
    padding: 4px 20px;
    background: #ffffff;
    border-radius: 50px;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.camper-bt:hover {
    background: #cc0000;
    color: #ffffff;
}

#camper-menu-1 {
    border-bottom: #ffffffff solid 2px;
}