@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    color: #000000;
}

.cargo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 45px 0 60px;
}

.cargo h1 {
    font-size: 35px;
    font-weight: 500;
    padding: 0 10px;
}
.cargo-content {
    width: 90%;
    max-width: 1400px;
    margin: 20px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cargo-box1 {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #dbdee7, #f7f8fb);
    border-radius: 10px;
    margin: 5px;
    padding: 30px 0 10px;
    transition: all 0.2s;
}
.cargo-box1:hover .cargo-box-img,
.cargo-box2:hover .cargo-box-img{
    scale: 1.0;
}
.cargo-box2 {
    width: calc(64% + 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #dbdee7, #f7f8fb);
    border-radius: 10px;
    margin: 5px;
    padding: 30px 0 10px;
    transition: all 0.2s;
} 

.cargo-box2-n {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 0 2px;
}

.cargo-box-img {
    width: 100%;
    height: 24vh;
    object-fit: contain;
    transition: all 0.3s;
    scale: 0.9;
}

.cargo h3 {
    font-size: 22px;
    font-weight: 500;
    padding: 0 0 4px;
}